   * {
    scrollbar-width: thin;
    scrollbar-color: #b2b2b2 #fff;
  }
  
  *::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  *::-webkit-scrollbar-track {
    background: #fff;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #b2b2b2;
    border-radius: 5px;
    border: 3px solid #fff;
  }

  .app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }